<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="board">
 
 <!-- 	<resultMap type="com.js.board.model.dto.BoardDTO2" id="boardList">
 		<id column="BOARD_ID" property="id"/> 기본 키
 		<result column="BOARD_CATEGORY" property="category"/>
 		<result column="BOARD_WRITER" property="writer"/>
 		<result column="BOARD_TITLE" property="title"/>
 		<result column="BOARD_TEXT" property="text"/>
 		<result column="BOARD_DATE" property="date"/>
 		<result column="BOARD_REPLY" property="reply"/>
 		<result column="BOARD_LEVEL" property="level"/>
 		<result column="BOARD_STATUS" property="status"/>
 	</resultMap> -->
 		
 
 	<select id="selectList" resultType="com.js.board.model.dto.BoardDTO" parameterType="com.js.board.model.dto.PageInfoDTO">
 		SELECT 
               A.RNUM
             , A.BOARD_ID
             , A.BOARD_CATEGORY
             , A.BOARD_WRITER
             , A.BOARD_TITLE
             , A.BOARD_TEXT
             , A.BOARD_DATE
             , A.BOARD_REPLY
             , A.BOARD_LEVEL
             , A.BOARD_STATUS
        FROM(SELECT ROWNUM AS RNUM 
                  , B.BOARD_ID
                  , B.BOARD_CATEGORY
                  , B.BOARD_WRITER
                  , B.BOARD_TITLE
                  , B.BOARD_TEXT
                  , B.BOARD_DATE
                  , B.BOARD_REPLY
                  , B.BOARD_LEVEL
                  , B.BOARD_STATUS
             FROM(SELECT C.BOARD_ID
                       , C.BOARD_CATEGORY
                       , C.BOARD_WRITER
                       , C.BOARD_TITLE
                       , C.BOARD_TEXT
                       , C.BOARD_DATE
                       , C.BOARD_REPLY
                       , C.BOARD_LEVEL
                       , C.BOARD_STATUS
                  FROM BOARD C
                  WHERE BOARD_LEVEL = 0
                  AND BOARD_STATUS = 'N'
                  ORDER BY C.BOARD_ID DESC
                 ) B
             )A
       WHERE A.RNUM BETWEEN #{startRow} AND #{endRow}
 	</select>
 	
 	<select id="selectById" resultType="com.js.board.model.dto.BoardDTO" parameterType="_int">
 		SELECT 
 		       BOARD_ID
			 , BOARD_CATEGORY
			 , BOARD_WRITER
			 , BOARD_TITLE
			 , BOARD_TEXT
			 , BOARD_DATE
		     , BOARD_REPLY
			 , BOARD_LEVEL
			 , BOARD_STATUS
		FROM BOARD
		WHERE BOARD_ID = #{id}
		AND BOARD_LEVEL = 0
		AND BOARD_STATUS = 'N'
 	</select>
 	
 	<update id="updateById" parameterType="com.js.board.model.dto.BoardDTO">
 		UPDATE 
 		    BOARD
 		SET 
 		    BOARD_TITLE = #{board_title}
 		  , BOARD_TEXT = #{board_text}
 		WHERE 
 		    BOARD_ID = #{board_id}
 	</update>
 	
 	
 	<select id="totalCount" resultType="_int">
 		SELECT 
 		       COUNT(*)
 		FROM BOARD
 		WHERE BOARD_LEVEL = 0
 		AND BOARD_STATUS = 'N'
 	</select>
 	
 	<select id="boardNextval" resultType="_int">
 		SELECT
 			  SEQ_BOARD.NEXTVAL
 		FROM DUAL
 	</select>
 	
 	<select id="insertBoard" parameterType="com.js.board.model.dto.BoardDTO">
 		INSERT INTO BOARD(BOARD_ID, BOARD_CATEGORY, BOARD_WRITER,
                          BOARD_TITLE, BOARD_TEXT)
		           VALUES(#{board_id}, '0', 'sj', 
		                  #{board_title}, #{board_text})
 	</select>
 	
 </mapper>