<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="board">
 
 	<select id="selectList">
 		SELECT 
 		       BOARD_ID
			 , BOARD_CATEGORY
			 , BOARD_WRITER
			 , BOARD_TITLE
			 , BOARD_TEXT
			 , BOARD_DATE
		     , BOARD_REPLY
			 , BOARD_LEVEL
			 , BOARD_STATUS
		FROM BOARD
 	</select>
 	
 	
 </mapper>