<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="board">
 
 <!-- 	<resultMap type="com.js.board.model.dto.BoardDTO2" id="boardList">
 		<id column="BOARD_ID" property="id"/> 기본 키
 		<result column="BOARD_CATEGORY" property="category"/>
 		<result column="BOARD_WRITER" property="writer"/>
 		<result column="BOARD_TITLE" property="title"/>
 		<result column="BOARD_TEXT" property="text"/>
 		<result column="BOARD_DATE" property="date"/>
 		<result column="BOARD_REPLY" property="reply"/>
 		<result column="BOARD_LEVEL" property="level"/>
 		<result column="BOARD_STATUS" property="status"/>
 	</resultMap> -->
 		
 
 	<select id="selectList" resultType="com.js.board.model.dto.BoardDTO">
 		SELECT 
 		       BOARD_ID
			 , BOARD_CATEGORY
			 , BOARD_WRITER
			 , BOARD_TITLE
			 , BOARD_TEXT
			 , BOARD_DATE
		     , BOARD_REPLY
			 , BOARD_LEVEL
			 , BOARD_STATUS
		FROM BOARD
 	</select>
 	
 	<select id="selectById" resultType="com.js.board.model.dto.BoardDTO" parameterType="_int">
 		SELECT 
 		       BOARD_ID
			 , BOARD_CATEGORY
			 , BOARD_WRITER
			 , BOARD_TITLE
			 , BOARD_TEXT
			 , BOARD_DATE
		     , BOARD_REPLY
			 , BOARD_LEVEL
			 , BOARD_STATUS
		FROM BOARD
		WHERE BOARD_ID = #{id}
 	</select>
 	
 	
 </mapper>